@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 헤더 */
header {
	background-color: #FEC034;
	height: 100px;
}
/* 헤더 로고 */
.headA  {
	text-decoration: none;
	display: block;
	color: black;
	padding: 40px 10px 10px 10px;
}

/* 헤더 네비게이션 */
.headN {
	float: right;
}
/* 헤더 네비게이션 ul */
.headN ul {
	display: flex;
	list-style: none;
}

/* 헤더 네비게이션 a */
.headN a {
	text-decoration: none;
	display: block;
	padding: 40px 10px 10px 10px;
	color: black;
}

header .container {
	padding-left: 80px;
	padding-right: 160px;
}

/* 컨텐츠 */
.conA {
	background-color: white;
}
.conA .container {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 200px;
	padding-right: 200px;
}

.conB {
	background-color: white;
}

.conB .container {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 200px;
	padding-right: 200px;
}

.conC {
	background-color: white;
}

.conC .container {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 200px;
	padding-right: 200px;
}

/* 컨텐츠에 따라 padding-top, bottom 은 설정, left, right 는 고정! */

/* 푸터 */
footer {
	background-color: green;
}

footer .container {
	padding-top: 40px;
	padding-bottom : 40px;
	padding-left: 200px;
	padding-right: 200px;
}