@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 기본 색상 */
:root {
	--main-color:#FEC034;
	--text-color: #555555;
	--sub-text-color: #999999;
}

/* 헤더 */
header {
	background-color: var(--main-color);
	height: 100px;
}
/* 헤더 로고 */
.headA {
	float: left;
	text-decoration: none;
	display: block;
	color: white;
	margin: 10px 10px 10px 200px;
	font-size: 60px;
}

/* 헤더 네비게이션 */
.headN {
	float: right;
}
/* 헤더 네비게이션 ul */
.headN ul {
	display: flex;
	list-style: none;
}

/* 헤더 네비게이션 a */
.headN a {
	font-family: 'Jua', sans-serif;
	text-decoration: none;
	display: block;
	margin: 40px 10px 10px 10px;
	color: white;
	font-size: 30px;
}

.headN a:hover {
	color: var(--text-color);
}

header .container {
	padding-left: 80px;
	padding-right: 160px;
}

/* 컨텐츠 */
.conA {
	background-color: white;
}

.conA .container {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 200px;
	padding-right: 200px;
}

.conB {
	background-color: white;
}

.conB .container {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 200px;
	padding-right: 200px;
}

.conC {
	background-color: white;
}

.conC .container {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 200px;
	padding-right: 200px;
}

/* 컨텐츠에 따라 padding-top, bottom 은 설정, left, right 는 고정! */

/* 푸터 */
footer {
	background-color: green;
}

footer .container {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 200px;
	padding-right: 200px;
}