/* 메인 페이지 css */
@charset "UTF-8";

/* 기본 색상 */
:root {
	--main-color:#FEC034;
	--text-color: #555555;
	--sub-text-color: #999999;
	
}
/* 메인 배너 */
.mainbanner {
	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
}

.item_img {
	width: 100%;
	max-height: 700px;
	opacity: 0.5;
	border: none;
	outline: none;
}

.item_text {
	position: absolute;
	bottom: 10%;
	margin-left: 3%;
}

.slick-arrow{
    display: inline-block;
    position: relative;
    top: 220px;
    z-index: 500;
    color: #fff;
    font-size: 20px;
}

.slick-prev, .slick-next {
	font-size: 0;
	position: absolute;
	bottom: 20px;
	color: #fff;;
	border: 0;
	background: none;
	z-index: 1;
	top: 20px;
	cursor: pointer;
	outline: none;
}

.slick-prev {
    left: 20px;
}
 
.slick-prev:after {
    content: "\f104";
    font: 40px/1 'FontAwesome';
}
 
.slick-next {
    right: 20px;
    text-align: right;
}
 
.slick-next:after {
     content: "\f105";
     font: 40px/1 'FontAwesome';
}
 
.slick-prev:hover:after,
.slick-next:hover:after {
    color: #7e7e7e;
}

/* 컨텐츠 A */
.conA .container {
	padding-top: 200px;
	text-align: center;
}
#main_pethotel {
	width: 50%;
}

/* 컨텐츠 B */
.conB .container {
	padding-top: 60px;
	padding-bottom:200px;
}
.guide_announce {
	font-size: 30px;
	text-align: center;
	color: var(--text-color);
}
.guide {
	padding-top: 60px;
	display: flex;
	margin-left: 40px;
}

#main_dog {
	width: 100%;
}

.guide_main {
	box-sizing: border-box;
}

.guide_main p {
	color: var(--sub-text-color);
	font-size: 18px;
	padding-top: 10px;
}

.guide_top_time {
	float: left;
	padding-bottom: 50px;
	padding-left: 100px;
	width: 30%;
}

.guide_top_friend {
	float: right;
	padding-bottom: 50px;
	width: 30%;
}

.guide_bottom_phone {
	float: left;
	padding-top: 50px;
	padding-left: 100px;
	width: 30%;
}

.guide_bottom_route {
	float: right;
	padding-top: 50px;
	width: 30%;
}