/* charge css */
@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}


:root {
	--main-color:#FEC034;
	--text-color: #555555;
	--sub-text-color: #999999;
	
}

i.fas fa-bone {
	color: var(--main-color);
	font-size: 15px;
}

header {
	background-color: var(--main-color);
	height: 80px;
}

header .container {
	padding: 10px;
}

header i {
	float:left;
	color: white;
	font-size: 50px;
	margin-left:10px;
}

header h2 {
	float:left;
	color: white;
	margin-left: 110px;
	font-size: 40px;
}

div.c_money{
text-align: right;	
margin-top: 10px;
margin-right: 20px;
}

.conA{
width:100%;
height:60vw	
}
.sum{
	margin-bottom: 50px;
	text-align: center;
}

.deco{
	margin:20px;
	margin-top : 60px;
	border:4px solid  #FEC034;
	border-radius:10px;
}

.content{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	border: solid 1px white;
}

/*
.ctext{
	font-size: 15px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px white;
	margin-left: 15px;
}
*/

.ctextEdit{
	margin-top: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px white;
	margin-left: 15px;
}

footer{
	height: 64px;
	background-color: var(--main-color);
}

footer button {
	width: 100%;
	height: 60px;
	background-color: var(--main-color);
	border: none;
	color: white;
	font-size: 24px;
}

footer button:hover {
	color: var(--text-color);
	cursor: pointer;
}
