@charset "UTF-8";

/* 김영재 shop css 작성*/
/* 기본 색상 */
:root { 
	--main-color: #FEC034; 
	--text-color: #555555; 
	--sub-text-color: #999999;
}


div#dddd i{
	color: var(--main-color);
	font-size: 15px;
}


div.containerF {
	text-align: right;
	margin-top : -40px;
	margin-left: 200px;
	margin-right: 200px;
}
/*list_btn은 카테고리*/
#list_btn {
	margin-top: 130px;
	margin-left:270px;
}
#list_btn input{
	background-color: #FEC034;
	width: 70px;
	height: 20px;
	font-size: 15px;
	text-align: center;
	color:white;
	border:none;
	border-radius: 12px;
	margin:0px;
}


#list_btn input:hover {
    background: #fa6e3e;
	cursor: pointer;
}
button.editBt {
	background-color: #FEC034;
	width: 180px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color:white;
	border:none;
	border-radius: 12px;
	margin-right: 80px;
	margin-bottom: 20px;
}

button.editBt:hover {
    background: #fa6e3e;
	cursor: pointer;
}
/*1108 관리 버튼 추가*/

button.manageBt {
	background-color: #FEC034;
	width: 180px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color:white;
	border:none;
	border-radius: 12px;
	margin-right: 80px;
	margin-bottom: 20px;
}

button.manageBt:hover {
    background: #fa6e3e;
	cursor: pointer;
}

table {
	border: 1px solid white;
	width: 80%;
	text-align: center;
	margin-left: 10%;
	margin-bottom: 5%;
	table-layout: void;
}

img {
	width: 220px;
	height: 220px;
	margin: 0px;
}

img:hover{
	cursor: pointer;
	border: 0.5px solid black;
}

tr {
	border: 1px solid white;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

td {
	border: 1px solid white;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

h1 {
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 60px;
}

.conshop {
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.conshop div {
	width: 460px;
	height: 330px;
	text-align: center;
}

.bbbbb {
	width: 70px;
	height: 50px;
}

#dddd button {
	width: 200px;
	background-color: #FEC034;
	color:white;
	border-radius: 10px;
	border: none;
}
#dddd button:hover {
    background: #fa6e3e;
	cursor: pointer;
}

section.conBody{
	margin-bottom: 10px;
}
