@charset "UTF-8";

.h1h1{
	text-align: center;
	font-size: 40px;
}
.h3h3{
	text-align: center;
}
.conB div.col-12{
	font-size:20px;
	background-color:#F8F8FF;
}

button{
	background-color: #FEC034;
	width: 180px;
	height: 50px;
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	border:none;
	border-radius: 12px;
}
button:hover{
    background: #fa6e3e;
	cursor: pointer;
}

.containerT {
	font-size: 20px;
}

.conC{
	text-align: center;
	margin-bottom: 80px;
}