@charset "UTF-8";

.h1h1{
	text-align: center;
	font-size: 40px;
}
.h3h3{
	text-align: center;
}
.conB div.col-12{
	font-size:20px;
	background-color:#F8F8FF;
}
div#emdfhr{
	margin-left: 200px;
	margin-right: 200px;
}

th.tbwid{
	background-color: #FEC034;
}


table {
	width: 80%;
}

table, td {
	border: 0.5px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-left: 10%;
	border-left-style: none;
	border-right-style: none;
	padding: 10px;
}

th.tbwid_15 {
	border: 0.5px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-left: 10%;
	border-left-style: none;
	border-right-style: none;
	padding: 10px;
	background-color: #FEC034;
	width: 15%;
}

th.tbwid_35 {
	border: 0.5px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-left: 10%;
	border-left-style: none;
	border-right-style: none;
	padding: 10px;
	background-color: #FEC034;
	width: 35%;
}
button{
	background-color: #FEC034;
	width: 180px;
	height: 50px;
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	border:none;
	border-radius: 12px;
}
button:hover{
    background: #fa6e3e;
	cursor: pointer;
}

.containerT {
	font-size: 20px;
}

.conC{
	text-align: center;
	margin-bottom: 80px;
}

.containerG{
	padding-bottom: 160px;
}